.myInput {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #f7f7f7;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #bdbdce;
        border-bottom-color: #b1b0b9;
        color: #747d94;
        display: block;
        font-family: "helvetica neue",helvetica;
        font-size: 12px;
        font-weight: bold;
        text-shadow: 0 1px #eee;
        line-height: 12px;
        padding: 9px 12px;
        margin: 0px 20px 0px 0px;
        width: 200px;
      }
      
h1 {
        color: #5c617b;
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        line-height: 35px;
}
      
h2 {
        color: #5c617b;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        line-height: 35px;
}

h3 {
        color: #5c617b;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
}

.editMPT {
    background-image: url('//cdn.mxpnl.com/cache/8d1bd66012e0d2d598cdc9c8bde18af9/images/reports/mpplatform/header_icons.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 13px;
    left: 6px;
    top: 3px;
    width: 13px;
}
        
}
